<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drowsiness Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Drowsiness Detection</h1>
    <img id="video_feed" width="640" height="480" autoplay playsinline></img>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('video_frame', function (data) {
            var img = document.getElementById('video_feed');
            img.src = 'data:image/jpeg;base64,' + btoa(String.fromCharCode.apply(null, new Uint8Array(data.data)));
        });
    </script>
</body>
</html>
